<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chirag.tourguide">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MontrealActivity"
            android:label="@string/title_activity_montreal"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".QuebecActivity"
            android:label="@string/title_activity_quebec"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".MontrealGuide.MontrealDisplayActivity"
            android:parentActivityName=".MontrealActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.chirag.tourguide.MontrealActivity" />
        </activity>
        <activity
            android:name=".QuebecGuide.QuebecDisplayActivity"
            android:parentActivityName=".MontrealActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.chirag.tourguide.QuebecActivity" />
        </activity>
        <activity
            android:name=".DescriptionActivity"
            android:parentActivityName=".MontrealGuide.MontrealDisplayActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.chirag.tourguide.MontrealGuide.MontrealDisplayActivity" />
        </activity>
    </application>

</manifest>